@font-face {
    font-family: "OpenSans";
    src: url("fonts/opensans/OpenSans-Regular.ttf") format("truetype");
 
}

html {
    margin: 0;
    height: 100%;

}

body {
    margin: 0;
    height: 100%;
    font-family:"OpenSans";
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #303030;
    display: inline-flex;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 3px;
    margin: 0;
}

nav > img {
    display: block;
    height: 30px;
    margin-left: 7%;
}

nav > ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

nav > ul > li {
    display: inline;
    float: left;
    text-align: center;
}

nav > ul > li > a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > #l {
    position: absolute;
    right: 7%;
}

header {
    background-color: #0496CA;
    position:relative;
    margin: 0;
    padding: 20px;
}

header > img {
    width: 140px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;

}

header > section {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

header > section > img {
    width: 50px;

}
header > section > p {
    text-align: center;
}



