@font-face {
    font-family: "OpenSans";
    src: url("fonts/opensans/OpenSans-Regular.ttf") format("truetype");
 
}

/*selectionne tout le contenu*/
* {                 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family:"OpenSans";
    min-height: 100vh; /*hauteur min = toute la hauteur disponible*/
}

/*------------------------NAV------------------------*/
nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 25px;

    background-color: #303030;
    padding: 1rem 0;
}   

nav > img {
    height: 2em;
    margin-left: 100px;
}

nav > a {
    text-decoration: none;
    color: white;
}

nav > a:last-child {
    margin-left: auto;
    margin-right: 8rem;
}
/*------------------------HEADER------------------------*/  
header {
    display: flex;
    background-color: #0496CA;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

header > img {
    width: 140px; 
    position: absolute;
    left: 7%;
}

header > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header > section > img {
    width: 120px;
   
    
}
header > section > p {
    color: whitesmoke;
      
}

header > section > button {
    background-color: #E7942E; 
    border: 2px solid #ffffff;
    font-size: 1.3em;
    padding: 15px;
    color: white;
    border-radius: 8px;
    
}

/*------------------------MAIN------------------------*/  
#sec-a {
    display: flex;
    justify-content: center; 
    
    font-size: 1.5em;
    
    padding: 10px 0px;
}

#sec-b {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    
    background-color: #0496CA;

    padding: 50px 120px;
    
}

#sec-b > aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
  
    color: white;  
}

#sec-b > aside > article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 7px;
  
}

#sec-c { 
    display: flex;
    justify-content: center; 
    
    font-size: 1.3em;
    
    color: #787a78;
    padding: 10px 0px;
}

#sec-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: #EEEFEF;
    padding: 50px;
}

#sec-d > article {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 65px;
}

#sec-e {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    padding: 50px;

}

#sec-e > .blue {
    background-color: #005981; 
}

#sec-e > button {
    background-color: #E7942E; 
   
    font-size: 1.3em;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 8px;
    width: 180px;

}

/*------------------------FOOTER------------------------*/  
footer {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    gap: 25px;

    margin-top: auto;
    background-color: #303030;
    padding: 1rem 0;
}

footer > a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

footer > a:last-child {
    margin-left: auto;
    margin-right: 4rem;
}

    






